body{
    font-family: 'Poppins', sans-serif;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


.about_me{
   width: 100%;
   max-width: 450px;
   float: left; 
}
.about_me h1{
    font-size: 46px;
}
.about_me span{
    color: orange;
}
.about_me h3{}
.about_me p{}
.about_me a{
    display: block;
    text-decoration: none;
    width: 100px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.my_image{
    width: 100%;
    max-width: 450px;
    float: right;
}
.my_image img{
    width: 400px;
    height: auto;
}